<header class="header">
	{{>headerDark}}
</header>

<div class="hero">
	<h1 class="hero_title">{{hero.title}}</h1>
	<p class="hero_description">{{hero.description}}</p>
	<a href="#" class="hero_button">{{hero.button.text}}</a>
</div>

<div class="about">
	<h1 class="about_title">{{ about.heading }}</h1>
	<p class="about_description">{{ about.info }}</p>
</div>

<div class="articles_box">
	{{>articleDark}}
</div>

<footer class="footer">
	{{>footerDark}}
</footer>